.navbar_box_2 {
  position: relative;
  background-color: #faf9f8;
  z-index: 1000;
  height: 60px; /* Fixed navbar height */
  display: flex;
  align-items: center;
  /* margin-top: 500px; */
}

.navbar_items {
  position: static;
  height: 100%;
  overflow: visible; /* Add this line */
}
.MuiPaper-root {
  margin-top: 0 !important;
  border-top: none !important;
}

.nav_drop_down {
  display: flex;
  gap: 60px;
  width: 100%;
  margin-top: 50px;
  max-width: 1200px;
  justify-content: flex-start;
  padding: 0 40px;
  background-color: #faf9f8;
}

/* Ensure proper stacking context */
.navbar_box {
  position: relative;
  z-index: 1000;
  /* margin-bottom : 70px; */
}

/* Remove any existing borders from dropdown */
.MuiMenu-paper {
  border: none !important;
  box-shadow: none !important;
}
.navbar_items {
  position: static;
}
