.filter_comp {
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align all items to the left */
}

.filter_section {
  margin-bottom: 20px;
}

.filter_heading {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align all items to the left */
}

.filter_text {
  font-size: 16px;
  color: #666;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align all items to the left */
}

.filter_text:hover {
  color: #e63946;
  text-decoration: underline;
}
